:root {
  --heading-font-family: "Croissant One", serif;
  --main-font-family: "Tajawal", sans-serif;
}

body {
  background: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(39, 32, 68) 0%,
    rgb(14, 2, 34) 100.2%
  );
  background-repeat: no-repeat;
  font-family: var(--main-font-family);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/neo-japan.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: center;
}

header h1 {
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
}

header a {
  background: linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  border-radius: 4px;
  color: #272044;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 16px 32px;
  margin-top: 32px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
